node_modules
.turbo
.pnpm-store
dist
lib
coverage
.DS_Store
.env
.env.local
.mise.local.toml
*.log
.brik
examples/*/ios/Pods
examples/*/android/.gradle
examples/*/android/local.properties
examples/*/android/app/build
examples/*/ios/build
examples/*/.expo
examples/*/.expo-shared

# Mise cache and shims
.mise/cache
.mise/shims



